.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-pic {
  margin-bottom: 5rem;
  border-radius: 50%;
  border-width: 5px;
  border-color: black;
  border: 3px solid hsl(283, 100%, 50%);
  box-shadow:
    0 6px 0 4px hsl(283, 100%, 40%) inset,
    0 6px 0 4px hsl(283, 100%, 45%);
}

.about-me-row {
  background-color: aqua;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 5vw;
  margin: 1vw;
}

.content-row {
  background-color: brown;
  padding: 20vw;
  margin: 1vw;
}
